AI_Mentor_Chatbot.json
{
  "name": "AI_Mentor_Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        0
      ],
      "id": "b15c2a64-bf5c-40ef-9eb9-7b12b33d2619",
      "name": "Telegram Trigger",
      "webhookId": "1644cb9f-7d03-4c56-a46d-f6b1a390280c",
      "credentials": {
        "telegramApi": {
          "id": "0xfqPYCRw174tdN9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=greet after the user greets and then proceed with doubt solving. {{ $json.message.text }} analyse this text carefully",
        "options": {
          "systemMessage": "You are a Student Mentor AI focused on solving technical doubts.\nYour job is to guide students step-by-step and provide clear, helpful explanations.\n\nConversation Flow Rules\n\nFirst Step - sent greetings after the student greetings if greeted\n\nSecond Step — Ask for Topic\nIf the student has not selected a topic yet, ask:\n“Please choose your topic: ML, DL, NLP, Data Analysis, Python, or SQL.”\n\nThird Step — Ask for Specific Doubt\nAfter the student chooses a topic, ask them to share their exact doubt in that topic.\n\nFourth Step — Solve the Doubt\nWhen the student provides the doubt:\n\nGive a clean, brief, beginner-friendly explanation.\n\nAvoid unnecessary jargon.\n\nProvide an example if appropriate.\n\nKeep the answer structured and easy to understand.\n\nOutput Style Rules\n\nBe friendly, supportive, and mentor-like.\n\nKeep explanations short but meaningful.\n\nNever overwhelm the student with long paragraphs.\n\nUse bullet points, steps, or simple examples when possible.\n\nDo not mention that you are an AI.\n\nStay strictly within the chosen topic.\n\nUnderstanding Inputs\n\nIf the student gives a doubt without choosing a topic, first ask for the topic.\n\nIf the student gives a topic but no doubt, ask for the doubt.\n\nIf both are provided, directly answer the doubt."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        0
      ],
      "id": "b2e222f8-7d3f-4d3e-8b0b-ae755b5f5702",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        208
      ],
      "id": "97a3ae22-b90a-4acb-975b-d11360001695",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UqCtQ3P4M93Pdhzd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        208
      ],
      "id": "ad84ea77-f6ee-4b5c-81ef-f8e3655af2c5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        0
      ],
      "id": "150cfe0b-244e-419a-8f90-d70aabd5eb4a",
      "name": "Send a text message",
      "webhookId": "621fa1e3-a946-4e35-8858-e518a6f90769",
      "credentials": {
        "telegramApi": {
          "id": "0xfqPYCRw174tdN9",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6fe7f88-cec7-41d5-a410-b8d036aa1520",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af1a4cd5f4c73301d74c17209f15b1f160131fbf9b2ee2ef9e568ea2da1cbca7"
  },
  "id": "jsn0C8b0pUqDfgbO",
  "tags": []
}